body {
	font-family: tahoma, sans-serif;
	font-size: 16px;
	margin: 0;
}
a {
	color: #333;
}
p {
	margin-top: 0;
}
label {
	text-align: right;
	margin-right: 10px;
	display: inline-block;
	float: left;
	width: 60px;
	color: #999;
	font-style: italic;
}
ul li {
	list-style: none;
	margin-bottom: 10px;
}
.link-span {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#wrapper {
	margin-left: 10px;
	margin-right: 10px;
}
#header-lp, #header {
    height: 50px;
}
#header-lp {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
#header {
	top: 0;
	width: 100%;
	background: #FFF;
}
#nav-menu, ul.navigation {
	background: #FFF;
}
#branding {
	background-image: url('images/logo.jpg');
	background-repeat: no-repeat;
	background-size: 40 40;
	background-position: 0 10;
	background-color: #FFF;
	height: 50px;
	padding-left: 50px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
}
#nav-menu {
	padding-top: 55;
}
ul.navigation {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-top: 15px;
	position: fixed;
}
ul.navigation li {
	text-align: center;
	display: inline-block;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 40 40;
	width: 32%;
}
ul.navigation li a {
	display: block;
	padding-top: 43px;
	text-decoration: none;
	color: #000;
}
li.nav-item-profile {
	background-image: url('images/profile-icon.png');
}
li.nav-item-vitals {
	background-image: url('images/vitals-icon.png');
}
li.nav-item-diagnosis {
	background-image: url('images/diagnosis-icon.png');
}
ul.navigation li.active-menu-item a {
	font-weight: bold;
}
.site-name {
	padding-top: 3px;
}
.lp {
	text-align: center;
	margin-top: 100px;
}
#content {
	margin-top: 110px;
}

/* Vitals Page */
.vital {
	width: 100%;
	height: 68px;
	margin-top: 18px;
	-webkit-box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.65);
    -moz-box-shadow:    0px 1px 2px rgba(51, 51, 51, 0.65);
    box-shadow:         0px 1px 2px rgba(51, 51, 51, 0.65);
}
.last-visit {
	width: auto;
	height: 18px;
	padding: 10px;
	background: #EEE;
	font-style: italic;
	margin-top: 18px;
	text-align: center;
}
.vital-icon, .vital-icon-overlay {
	float: left;
	padding: 15px;
}
.vital-name {
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}
.vital-value {
	padding-top: 4px;
	clear: none;
}
.vital-overlay-wrapper {
	z-index: 2;
	position: absolute;
	display: none;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.vital-overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 90%;
	width: 85%;
	border-radius: 5;
	padding: 15px;
	background: #FFF;
	-webkit-box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.65);
    -moz-box-shadow:    0px 1px 2px rgba(51, 51, 51, 0.65);
    box-shadow:         0px 1px 2px rgba(51, 51, 51, 0.65);
    overflow-y: auto;
}
ul.vital-breakdown {
	padding-left: 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 0em;
}
.vital-overlay-name {
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}
.close-overlay {
	position: fixed;
	display: block;
	top: 40px;
	right: 24px;
}
.vital-overlay-content {
	clear: both;
	padding-top: 6px;
}
.vital-overlay-value-date {
	display: inline-block;	
}
.vital-overlay-value {
	padding-right: 10px;
	font-size: 36px;
	margin-top: -10px;
}
.high-risk {
	color: #F07B7F;
}
.medium-risk {
	color: #F7A649;
}
.low-risk {
	color: #78BB66;
}
.vital-date {
	display: inline-block;
	font-style: italic;
	color: #999;
	font-size: 14px;
}
.vital-description {
	clear: none;
	margin-bottom: 10px;
}
.vital-risk-description, .vital-value-explanation {
	display: inline-block;
	width: 75%;
}
.vital-stats {
	text-align: center;
}
.vital-stats-image {
	max-width: 100%;
}
.avatar {
}
.img-avatar {
	max-width: 180px;
	float: left;
}

/* Profile Page */
.patient-profile {
}
ul.patient-profile-items {
	padding-left: 0;
}
ul.patient-profile-items li {
	list-style: none;
}