/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

/* =Global
----------------------------------------------- */

body {
	font-family: tahoma, sans-serif;
	font-size: 16px;
	margin: 0;
	background: url('images/bg-pattern.png');
	color: #333;
	font-family: 'Amaranth', sans-serif;
	/*font-family: 'PT Sans', sans-serif;*/
}
a {
	color: #333;
}
p {
	margin-top: 0;
}
label {
	text-align: right;
	margin-right: 10px;
	display: inline-block;
	float: left;
	width: 60px;
	color: #999;
	font-style: italic;
}
ul li {
	list-style: none;
	margin-bottom: 10px;
}
.link-span {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#wrapper {
	margin-left: 15px;
	margin-right: 15px;
}
#header-lp, #header {
    height: 50px;
}
#header-lp {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
#header {
	height: 124px;
	line-height: 124px;
}

#nav-menu, ul.navigation {
}

#branding {
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	background-size: 107 107;
	background-position: center center;
	position: relative;
	height: inherit;
	line-height: inherit;
}

.site-name, .site-description {
	font-size: 20px;
}
.site-name {
	float: left;
}
.site-description {
	float: right;
}

/* CONTENT */
.content, .vital, .vital-overlay {
	margin-top: 10px;
	background: #FFF;
	padding: 20px;
	-webkit-box-shadow: 0px 3px 1px 0px #555;
	box-shadow: 0px 3px 1px 0px #555;
}
.content h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;
}
.content p {
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1.4em;
}
#home, #profile, #vitals, #diagnosis {
	position: absolute;
	left: 15px;
	right: 15px;
}
#home {
	display: block;
}
#profile, #vitals, #diagnosis {
	display: none;
}
#vitals {
	top: 124px;
	bottom: 100px;
}

/* NAVIGATION */
#nav-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
}
ul.navigation {
	padding: 0;
	margin-bottom: 10px;
}
ul.navigation li {
	display: inline-block;
	width: 32%;
	margin-bottom: auto;
	vertical-align: bottom;
}

ul.navigation li a {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: 18 center;
	padding-left: 60px;
	text-transform: uppercase;
	height: 65px;
	line-height: 70px;
	width: 120px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 1px 0px #555;
	box-shadow: 0px 4px 1px 0px #555;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 3px;
}
a.active-link {
	background-color: #FBC500 !important;
	-webkit-box-shadow: 0px 1px 0px 0px #555 !important;
	box-shadow: 0px 1px 0px 0px #555 !important;
	color: #FFF;
	margin-bottom: 0 !important;
}
a.nav-profile {
	background-image: url('images/profile-icon.png');
}
a.nav-profile-active {
	background-image: url('images/profile-icon-selected.png');
}	
a.nav-vitals {
	background-image: url('images/vitals-icon.png');
}
a.nav-vitals-active {
	background-image: url('images/vitals-icon-selected.png');
}
a.nav-diagnosis {
	background-image: url('images/diagnosis-icon.png');
}
a.nav-diagnosis-active {
	background-image: url('images/diagnosis-icon-selected.png');
}
/* Vitals Page */

.vital {
	margin-bottom: 15px;
	padding-top: 10px;
	padding-left: 100px;
	border-left-width: 8px;
	border-left-style: solid;
	background-color: #FFF;
}
.vital-icon, .vital-icon-overlay {
	float: left;
}
.vital-icon {
	margin-top: auto;
	margin-bottom: auto;
	max-width: 55px;
	max-height: 55px;
}
.vital-icon-overlay {
	padding: 15px;
}
.vital-name {
	padding-top: 10px;
	font-size: 22px;
	font-weight: bold;
}
.vital-value {
	padding-top: 4px;
}
.vital-value span {
	font-size: 22px;
	font-weight: normal;
}
.vital-overlay {
	background-color: #FFF;
	background-repeat: no-repeat; 
	background-position: 25 28;
	background-attachment: local;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 15px;
	border-top-style: solid;
	border-top-width: 8px;
	-webkit-box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.65);
    -moz-box-shadow:    0px 1px 2px rgba(51, 51, 51, 0.65);
    box-shadow:         0px 1px 2px rgba(51, 51, 51, 0.65);
    overflow-y: auto;
}
ul.vital-breakdown {
	padding-left: 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 0em;
}
.close-overlay {
	background-image: url('images/close-icon.png');
	background-size: 53px 53px;
	position: fixed;
	display: block;
	top: 170px;
	right: 40px;
	height: 53px;
	width: 53px;
}
.vital-overlay-name, .vital-overlay-date {
	padding-left: 90px;
}
.vital-overlay-name {
	font-size: 36px;
	font-weight: bold;
	margin-top: 5px;
}
.vital-overlay-date {
	margin-top: 10px;
	font-size: 18px;
	color: #999;
	font-family: 'PT Sans', sans-serif;
}
.vital-overlay-content {
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
	color: #666;
}
.vital-overlay-value {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	margin-left: 3px;
	margin-right: 3px;
}
.high-risk {
	color: #EC5968;
}
.high-risk-border-left {
	border-left-color: #EC5968;
}
.high-risk-border-top {
	border-top-color: #EC5968;
}
.medium-risk {
	color: #F7A649;
}
.medium-risk-border-left {
	border-left-color: #F7A649;
}
.medium-risk-border-top {
	border-top-color: #F7A649;
}
.low-risk {
	color: #78BB66;
}
.low-risk-border-left {
	border-left-color: #78BB66;
}
.low-risk-border-top {
	border-top-color: #78BB66;
}
.vital-date {
	display: inline-block;
	font-style: italic;
	color: #999;
	font-size: 14px;
}
.vital-description {
	clear: none;
	margin-bottom: 10px;
}
.vital-risk-description, .vital-value-explanation {
	display: inline-block;
	width: 75%;
}
.vital-stats {
	text-align: center;
	margin-top: 20px;
}
.vital-stats-image {
	max-width: 100%;
}
.avatar {
}
.img-avatar {
	max-width: 180px;
	float: left;
}
.last-visit {
	width: auto;
	height: 18px;
	padding: 10px;
	background: #FFF;
	font-style: italic;
	margin-top: 18px;
	text-align: center;
}
/* Profile Page */
.patient-profile {
}
ul.patient-profile-items {
	padding-left: 0;
}
ul.patient-profile-items li {
	list-style: none;
}

/* D3 Styles */
.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.vital-stats-label {
	font-size: 16px;
	fill: #666;
}
.axis text {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    fill: #666;
}
.bar rect {
  shape-rendering: crispEdges;
}
