{% include 'header.html' %}
<div id="home" class="content">
    <h2>Welcome to Berkeley Hospital OS!</h2>
    <p>We provide you with access to your medical records, then we help you understand them. Our goal is for you to become informed about your health and change your behavior to lead a healthier life.</p>
</div>
<div id="profile" class="content">
    <div class="patient-profile">
        <!-- <img src="static/images/male-avatar.png" class="img-avatar" /> -->
        <ul class="patient-profile-items">
            <li>
                <label for="patient-name">Name:</label> 1-54-000401
            </li>
            <li>
                <label for="patient-gender">Gender:</label> Female
            <li>
                <label for="patient-age">Age:</label> 29
            </li>
            <li>
                <label for="patient-height">Height:</label> 1.68m
            </li>
            <li>
                <label for="patient-weight">Weight:</label> 60kg
            </li>
        </ul>
    </div>
</div>
<div id="vitals">
    {% for vital in context %}
    <div class="vital {{ vital.vital_id }}" style="background-image: url('static/css/images/{{ vital.vital_icon_name }}'), url('static/css/images/expand.png');">
        <div class="vital-name">{{ vital.vital_name }}</div>
        <div class="vital-value">
            <span class="{{ vital.vital_id }}">
            	{% for vital_value in vital.vital_values -%}
            		{{ vital_value }}
	           		{%- if not loop.last -%}
	           			{{ vital.vital_values_sep|safe }}
	           		{%- endif -%}
            	{%- endfor %}
            	{{ vital.vital_unit|safe }}
            </span>
        </div>
        <div class="vital-overlay {{ vital.vital_id }}" style="background-image: url('static/css/images/{{ vital.vital_icon_name }}');">

            <div class="vital-overlay-name">{{ vital.vital_name }}</div>
            <div class="vital-overlay-date">Updated September 30<sup>th</sup>, 2013</div>
            <div class="vital-overlay-content">
            	Your {{ vital.vital_name.lower() }} is 
            	<span class="vital-overlay-value {{ vital.vital_id }}">
            		{% for vital_value in vital.vital_values -%}
            			<span class="{{ vital.vital_id }}-value-{{ loop.index0 }}">{{ vital_value }}</span>
	           			{%- if not loop.last -%}
	           				{{ vital.vital_values_sep|safe }}
	           			{%- endif -%}
            		{%- endfor %}
            	</span> {{ vital.vital_unit|safe }}
                <div class="vital-stats {{ vital.vital_id }}">
        			

                </div>
<!--                 <div class="population-stats">
                    <p>You have <span class="high-risk">worse</span> cholesterol than <span class="high-risk">84%</span> of the Thai population</p>
                </div>
                <ul class="vital-breakdown">
                    <li>
                        <label>Details:</label>
                        <div class="vital-value-explanation">When too much LDL (bad) cholesterol circulates in the blood, it can slowly build up in the inner walls of the arteries that feed the heart and brain <a href="#">[more]</a></p>
                    </li>
                </ul> -->
            </div>
            <div class="close-overlay"></div>
        </div>
    </div>
    {% endfor %}
    <div class="last-visit">
        Vitals last updated September 25th, 2013
    </div>
</div>
<div id="diagnosis" class="content">
    <img src="static/images/kongkiat.jpeg" class="kongkiat" />
    <p>"You have <b>high cholesterol</b>.  This is not yet dangerous at your age, but as you become older you will be more susceptable to developing cardiovascular disease.  You need to reduce your fat intake by eating more vegetables and less greasy foods."</p>
</div>
{% include 'footer.html' %}