    	<div id="nav-menu">
            <ul class="navigation">
                <li>
                    <a href="#" class="nav-profile">Profile</a>
                </li>
                <li>
                    <a href="#" class="nav-vitals">Vitals</a>
                </li>
                <li>
                    <a href="#" class="nav-diagnosis">Doctor</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/d3scripts.js"></script>-->
</body>
</html>