<!DOCTYPE>
<html>
<head>
    <title>Berkeley Hospital OS | Prototype</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="branding">
                <div class="site-name">Berkeley Hospital OS</div>
                <div class="site-description">MVP v1.0</div>
                <a href="/index" class="link-span"></a>
            </div>
            <div id="nav-menu">
                <ul class="navigation">
                    <li class="nav-item-profile">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item-vitals active-menu-item">
                        <a href="/vitals" class="nav-link">Vitals</a>
                    </li>
                    <li class="nav-item-diagnosis">
                        <a href="/diagnosis" class="nav-link">Diagnosis</a>
                    </li>
                </ul>
            </div>
        </div>