{% include 'header.html' %}
<div id="content">
    <div class="patient-profile">
        <img src="static/images/male-avatar.png" class="img-avatar" />
        <ul class="patient-profile-items">
            <li>
                <label for="patient-name">Name:</label> Wasin Pangpon
            </li>
            <li>
                <label for="patient-gender">Gender:</label> Male
            <li>
                <label for="patient-age">Age:</label> 26
            </li>
            <li>
                <label for="patient-height">Height:</label> 1.78m
            </li>
            <li>
                <label for="patient-weight">Weight:</label> 70kg
            </li>
            <li>
                <label for="patient-bmi">BMI:</label> 20
            </li>
            <li>
                <label for="patient-wc">Waist:</label> 28"
            </li>
        </ul>
    </div>
</div>
{% include 'footer.html' %}