{% include 'header.html' %}
<div id="content">
    {% for vital in context %}
    <div class="vital">
        <div class="vital-icon">
            <img src="static/css/images/{{ vital.vital_icon_name }}" width="36" height="36" />
        </div>
        <div class="vital-name">{{ vital.vital_name }}</div>
        <div class="vital-value">
            <span class="{{ vital.vital_risk }}">{{ vital.vital_value }}</span>
        </div>
        <div class="vital-overlay-wrapper">
            <div class="vital-overlay">
                <div class="vital-icon-overlay">
                    <img src="static/css/images/{{ vital.vital_icon_name }}" width="36" height="36" />
                </div>
                <div class="vital-overlay-name">{{ vital.vital_name }}</div>
                <div class="vital-overlay-content">
                    <ul class="vital-breakdown">
                        <li>
                            <div class="vital-overlay-value-date">
                                <div class="vital-overlay-value {{ vital.vital_risk }} ">{{ vital.vital_value }}</div>
                            </div>
                        </li>
                        <li>
                            <label>Risk:</label>
                            <div class="vital-risk-description">
                                Your {{ vital.vital_name }} is {{ vital.vital_risk }}.
                            </div>
                        </li>
                    </ul>
                    <div class="vital-stats">
                        <p>
                            <img src="static/images/{{ vital.vital_chart }}" class="vital-stats-image" />
                        </p>
                        <p>
                            <img src="static/images/{{ vital.vital_hist }}" class="vital-stats-image" />
                        </p>
                    </div>
                    <div class="population-stats">
                        <p>You have <span class="high-risk">worse</span> cholesterol than <span class="high-risk">84%</span> of the Thai population</p>
                    </div>
                    <ul class="vital-breakdown">
                        <li>
                            <label>Details:</label>
                            <div class="vital-value-explanation">When too much LDL (bad) cholesterol circulates in the blood, it can slowly build up in the inner walls of the arteries that feed the heart and brain <a href="#">[more]</a></p>
                        </li>
                    </ul>
                </div>
                <div class="close-overlay">
                    <img src="static/css/images/collapse-icon.png" width="36" height="36" />
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="last-visit">
        Vitals last updated September 25th, 2013
    </div>
</div>
{% include 'footer.html' %}